<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <title>Title</title>
</head>

<body style="width: 100%; overflow-x: hidden">
  <div
    style="width: 600px;max-width:80%; margin: 0 auto; font-family: 'Open Sans', sans-serif; padding-left: 20px; padding-top: 5px; padding-right:20px; padding-bottom: 5px; border: 2px solid #FE8933; line-height: 1.6em; font-size: 20px;">
    <p>
      <span style="font-weight: bold; color: black">Greetings from CSI-VIT!</span><br><br>

      <div style="color: black">Hey {{name}}!</div><br><br>
      <div style="color: black">Email Content</div><br><br>

      <span style="color: black">Date:</span> <span style="color:#3F8CED; font-weight: bold;">Date</span><br>
      <span style="color: black">Venue:</span> <span style="color:#3F8CED; font-weight: bold;">Venue</span><br>
      <span style="color: black">Timings:</span> <span style="color:#3F8CED; font-weight: bold;">Timings</span><br><br>

      <div style="text-align: center;">
      </div>
    </p>
  </div>
</body>

</html>
